USE [NPB_Pitcher]
GO
/****** Object:  Table [dbo].[Pitcher_Value]    Script Date: 27-12-24 22:34:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pitcher_Value](
	[Player_ID] [smallint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[First_Name] [nvarchar](50) NOT NULL,
	[Season] [smallint] NOT NULL,
	[Team] [nvarchar](50) NOT NULL,
	[IP] [float] NULL,
	[SP_IP] [float] NULL,
	[RP_IP] [float] NULL,
	[SP_RAR] [float] NULL,
	[RP_RAR] [float] NULL,
	[WAR] [float] NULL,
	[WAR_v1] [float] NULL,
 CONSTRAINT [PK_Pitcher_Value] PRIMARY KEY CLUSTERED 
(
	[Player_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pitcher_Value] ([Player_ID], [Name], [First_Name], [Season], [Team], [IP], [SP_IP], [RP_IP], [SP_RAR], [RP_RAR], [WAR], [WAR_v1]) VALUES (1, N'Kaneko', N' Chihiro', 2014, N'Orix', 191, 191, 0, 55, NULL, 5.8, 7.5)
INSERT [dbo].[Pitcher_Value] ([Player_ID], [Name], [First_Name], [Season], [Team], [IP], [SP_IP], [RP_IP], [SP_RAR], [RP_RAR], [WAR], [WAR_v1]) VALUES (2, N'Norimoto', N' Takahiro', 2014, N'Tohoku Rakuten', 202.67, 199.33, 3.33, 42.3, 1, 4.6, 6.4)
INSERT [dbo].[Pitcher_Value] ([Player_ID], [Name], [First_Name], [Season], [Team], [IP], [SP_IP], [RP_IP], [SP_RAR], [RP_RAR], [WAR], [WAR_v1]) VALUES (3, N'Maeda', N' Kenta', 2014, N'Hiroshima Toyo', 187, 187, 0, 44.3, NULL, 4.5, 6.2)
GO
